.teammembers {
  display:inline-block;
  padding-left: 20px;
  background-color: $lightBlue;
}
// -------- Phone
@media only screen and (max-width: 600px) {
    .teammembers{
      padding-left: 0px;
    }

    .teammember {
//      background-color: red;
      width: 100%;
      height: 210px;
    }
}
// -------- Computer/Tablet
@media only screen and (min-width: 600px) {
    .teammembers{
      padding-left: 0px;
    }

    .teammember {
//      background-color: green;
      width: 200px;
      height: 210px;
    }
}

.teammember {
  display:inline-block;
  float: left;
  margin: 0px 30px 10px 0px;
  text-align: center;
  .labelblock{
    position: relative;
    margin: auto;
    color: black;
    margin-top: -80px;
    width: 180px;
  }
  img {
    height: 200px;
    opacity: 0.5;
  }
  img .hover{
    opacity: 0.5;
  }
}
