.teammembers {
  display:inline-block;
  padding-left: 20px;
  background-color: $lightBlue;
}
.teammembers{
  padding-left: 0px;
}
// -------- Phone
@media (max-device-width: 480px) {
    .teammember {
//      background-color: red;
      width: 45%;
      height: 410px;
      font-size: 150%;
      img {
        height: 400px;
      }
    }
}
// -------- Computer/Tablet
@media (min-device-width: 480px) {
    .teammember {
//      background-color: green;
      width: 200px;
      height: 160px;
    }
}

.teammember {
  display:inline-block;
  float: left;
  margin: 0px 30px 10px 0px;
  text-align: center;
  .labelblock{
    position: relative;
    margin: auto;
    color: black;
    margin-top: -90px;
    width: 180px;
  }
  img {
//    height: 200px;
    opacity: 0.5;
  }
  img .hover{
    opacity: 0.5;
  }
}
