.teammembers {
  display:inline-block;
}

.teammember {
  display:inline-block;
  float: left;
//  background-color: red;
  width: 160px;
  height: 210px;
  margin: 0px 30px 10px 0px;
  text-align: center;

  .title{
    padding: 0 0 0 0;
    margin-top: -45px;
    margin-left: 10px;
    width: 140px;
    text-align: center;
    color: black;
  	position: absolute;
  	font-size: 0.9em;
  	text-align: center;
    font-weight: bold;;
  }
  .titleB{
    padding: 0 0 0 0;
    margin-top: -45px;
    margin-left: 10px;
    width: 140px;
    text-align: center;
    color: black;
  	position: absolute;
  	font-size: 0.9em;
  	text-align: center;
    font-weight: bold;;
  }
  .name {
  	padding: 0 0 0 0;
    margin-top: -80px;
    margin-left: 0px;
//    background-color: red;
    width: 160px;
    text-align: center;
    color: black;
  	position: absolute;
  	font-size: 0.9em;
  	text-align: center;
  }
  img {
    min-height: 120px;
    opacity: 0.5;
  }
  img .hover{
    min-height: 120px;
    opacity: 0.5;
  }
}
